body {
    font-family: 'Nunito', sans-serif;
    max-width: 1200px;
    margin: 70px auto;
    justify-content: space-between;
    align-items: center;
}

p {
    font-size: xx-large;
}

.card-body p {
    font-size: xx-small;
    padding-left: inherit;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    font-size: x-small;
}

.icon-circle {
    display: inline-flex;
    border-radius: 50%;
    padding: 0.1em;
}

.card-title{
    font-weight: bold;
}
