body {
    font-family: 'Nunito', sans-serif;
    width: 90vw;
    margin: 0 auto;
}

p {
    font-size: xx-large;
}

.card {
    height: fit-content;
}

.card-body p {
    font-size: xx-small;
    padding-left: inherit;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle {
    font-size: x-small;
}

.icon-circle {
    display: inline-flex;
    border-radius: 50%;
    padding: 0.1em;
}

.card-title {
    font-weight: bold;
    margin: auto;
}

.our_solution_category {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-performers {
    display: grid;
    align-content: space-evenly;
}

.top-performers span {
    font-size: small;
    font-weight: bolder;
}

.top-performers.earning {
    font-size: xx-small;
}

.dropdown:parent {
    margin: auto;
}
